


body { 
    margin: 0;
    text-align: center;
    font-family: 'PT Sans', Arial, Helvetica, sans-serif;


}

/* Universal Text Styling */
h2 {
    font-size: 30px;
    font-weight: lighter;
    color: #61764B;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
}
h3 {
    font-size: 20px;
    font-style: bold;
    letter-spacing: 2px;
    margin-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
}

/* Div 1 */
.div1 {
    padding-top: 20px;
    padding-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(to bottom, #6f7ef6, #ffffff);
}
.div1 h1,h2,h3 {
    margin: 20px;
}
/** Images **/
#headshot {
    border-radius: 100%;
    margin-top: 80px;
    border-style: solid;
    border-width: 4px;
    border-color: #020202;
}
#patrick{
    position: absolute;
    top: 320px;
    left: 41%;
 
}
#spongebob {
    position: absolute;
    top: 320px;
    right: 39%;
    
}
#leaves {
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    
}


/* Div 2 */
/** General **/
.div2 {

    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    background-image: linear-gradient(to top, #ffffff, #ffffff);

}
.div2 a, .button {
    color: #866027;
    text-decoration: none;
    font-style: bold;
}

.div2 a:hover, .button:hover {
    color: #61764B;
    text-decoration: underline;
}

/** Column Layout **/
.column-right {
    text-align: left;
}
.column-left {
    float: left;
    width: 50%;
    text-align: right;
    padding-right: 20px;
}
.column-left > img {
    height: 100px;
}
.end {
    clear: both;
}

.languages > .column-left > img {
    height: 100px;
}

.experience > .column-left > img {
    height: 80px;
    margin: 25px auto;
}

.skills > .column-left > img {
    height: 90px;
    margin: 25px auto;
}

/* CONTACT.html */
.card {
    margin: 40px auto;
    padding: 10px;
    width: 60%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    background-color: #6f7ef6;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
    padding: 10px 16px;
}

label, #contact-submit {
    font-size: 20px;
    padding: 15px;
    
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: 'Montserrat', sans-serif;
}

input, textarea {
    margin-top: 8px;
    font-size: 13px;
    color: #9BA17B;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

input {
    letter-spacing: 2px;
}

.button {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    display: block;
    width: 200px;
    margin: 20px auto;
    padding: 20px;
    border: 2px;
    border-style: solid;
    border-color: #61764B;
    background-color: transparent;
    font-size: 20px;
}

/* On mouse-over, add a deeper shadow */
.button:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    text-decoration: underline;
}

hr {
    border-width: 0;
    border-style: dashed;
    height: 1px;
    background-image: linear-gradient(to right, #000000, #ffffff, #000000);
}

/* Footer */

.footer {
    padding: 1px;
    width: 100%;
    background-color: #6f7ef6;
    color: black;
}

.footer a {
    color: #5c5343;
    text-decoration: none;
    font-style: bold;
}
.footer a:hover {
    color: #61764B;
    text-decoration: underline;
}
